@import url('https://fonts.googleapis.com/css?family=Dancing+Script:100,200,300,400,500,600,700|Amiri:100,200,300,400,500,600,700|Satisfy:100,200,300,400,500,600,700|Cinzel:100,200,300,400,500,600,700');

/*-------------------------------Colours */

.body {
    background-color: #fffafa;
}

.bg-color-bandname {
 background-color: #fffafa;   
}

.ui-menu-color-home {
    background-color: #fffafa;
}

.ui-menu-color-bio {
    background-color: #fffafa;
}

.ui-menu-color-meet-the-band {
    background-color: #f5fffa;
}

.ui-menu-color-shows {
    background-color: #f5fffa;
}

.ui-menu-color-music {
    background-color: #fffafa;
}

.ui-menu-color-contact {
    background-color: #fffafa;
}

/*-------------------------------Search Bar */

* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Amiri, cursive;
}

.topnav {
  overflow: hidden;
  background-color: #fffafa;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgba(0, 128, 128, 0.1);
  color: black;
}

.topnav a.active {
  background-color: #fffafa;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

/*-------------------------------Special text/padding/margins */

h1,h2,h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Cinzel", cursive;
    font-weight: 300;
    color: #000000;
}

.inline-block {
    display: inline-block;
}

/*-------------------------------Heading */

header {
    background: #fffafa;
}

.social-links {
    padding-top: 15px;
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    color: #000000;
    background: #fffafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: rgba(0, 128, 128, 0.1);	
}

.header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.bandname {
    font-family: 'Dancing Script',cursive;
    font-weight: 400;
    font-size: 100px;
    margin-top: 70px;
    color: #000000;
    text-align: center;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
    margin: auto;
    width: 60%;
    padding: 10px;
}

#nav li {
    font-size: 15px;
    font-family: 'Cinzel',cursive;
    padding: 0;
}

.menuitem {
    text-align: center;
    padding: 0;
}

.body {
    text-align: center;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #000000;
}

/*-------------------------------Hover.css */

.hvr-sweep-to-bottom:before {
    background: rgba(0, 128, 128, 0.1);	
}

.hvr-sweep-to-top:before {
    background-color: #f5fffa;
    text: #000000;
}

.a:hover {
    text-decoration: none;
}

/*-------------------------------Home Section */

section {
    background-color: #fffafa;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.song-title {
    font-family: 'Cinzel',cursive;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
    position: center;
    text-decoration: none;
    background-color: #fffafa;
    text-align: center;
    margin: 50px;
}

.center {
    width: 300px ; 
    position: relative;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.thorne-img {
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: 40px;
}

.uppercase {
    text-decoration: none;
    text-align: center;
}

.center-txt {
    font-family: 'Amiri',cursive;
    color: #000000;
    font-size: 150%;   
    display: block;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 30px;
    width: 50%;
    text-decoration: none;
    background-color: #fffafa;
    line-height: 200px;
    height: 200px;
    text-align: center;
}

.tagline {
    font-family: "Amiri", cursive;
    text-align: center;
    color: #000000;
    padding-top: 70px;
    font-weight: 400;
    font-size: 100%;
    text-decoration: none;
    background:#fffafa;
    list-style-type:none;
    padding: 70px 0;
    font-size: 150%;
}

.tagline:hvr-sweep-to-top {
    background-color: rgba(0, 128, 128, 0.1);
}

/*------------------------------Bio Section */

h2 .our-story {
    font-family: 'Cinzel',cursive;
    font-weight: 100;
    color: #000000;
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 150%;
}

.info {
    font-family: "Amiri",cursive;
    text-align: justify;
    font-size: 110%;
    padding-top: 20px;
    padding-bottom: 100px;
}

.girl {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.quote {
    font-family: 'Amiri',cursive;
    text-align: center;
    font-size: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: #787878;
    background-color: #ffe4e1;
}

/*------------------------------Meet The Band Section */

.name {
    padding-top: 100px;
    padding-bottom: 20px;
    font-family: 'Cinzel',cursive;
    font-size: 200%;
    text-align: center;
}

.bio {
    text-align: center;
    font-weight: 200;
    padding-bottom: 100px;
    padding-top: 50px;
    font-size: 150%;
}

.becki {
    position: static;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lola {
    position: static;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.sienna {
    position: static;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.rachel {
    position: static;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}

/*------------------------------Shows Section */
#shows {
  font-family: "Cinzel",cursive;
  border-collapse: collapse;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 40px;
}

#shows td, #shows th {
  border: 1px solid #ddd;
  padding: 8px;
}

#shows tr:nth-child(even){background-color: #ffe4e1;}

#shows tr:hover {background-color: #ddd;}

#shows th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #f5fffa;
  color: #000000;
}

.quote-shows { 
    font-family: 'Amiri',cursive;
    text-align: center;
    font-size: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: #787878;
    background-color: #ffe4e1;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
    width: 50%;
    padding: 10px;
    margin-left: 90px;
}

.txt-shows {
    font-family: 'Amiri',cursive;
    color: #000000;
    font-size: 100%;   
    display: block;
    margin-left: 85px;
    margin-right: 15px;
    padding: 30px;
    width: 50%;
    text-decoration: none;
    background-color: #fffafa;
    text-align: center;
}

.violin {
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/*------------------------------Contact Section */

.contact-us {
    font-family: "Cinzel",cursive;
    color: #000000;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact {
    font-family: "Cinzel",cursive;
    color: #000000;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.booking {
    font-family: "Amiri",cursive;
    color: #000000;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 150%;
}

.press {
    font-family: "Amiri",cursive;
    color: #000000;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 150%
}

.label {
    font-family: "Amiri",cursive;
    color: #000000;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 150%;
}

.piano {
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/*-------------------------------Footer */

footer {
    background-color: rgba(0, 128, 128, 0.1);	
    color: #000000;
    min-height: 120px;
    margin: 0;
}

h5 {
    text-align: center;
}

.list-item {
    font-size: 15px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.list-item:hover {
    background: #fffafa;	
}

.inline-block{
    text-align: center;
    color: #000000;
}

a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}

.list-inline-item:hover {
    background: #fffafa;	
}

.social-links {
    padding-top: 15px;
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #000000;
    background: #fffafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: rgba(0, 128, 128, 0.1);	
}

#footer-details {
    padding: 20px;
}